.form {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  width: calc(100% - 2 * 28px);
  padding: 28px;
  row-gap: 24px;
}

.form__title {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.form__submit-button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  width: max-content;
  padding: 8px 16px;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  cursor: pointer;
}

.form__submit-button:hover {
  background: rgba(0, 0, 0, 0.6);
}

.form__submit-button:disabled {
  background: rgba(0, 0, 0, 0.3);
}
