.confirmation {
  padding: 60px var(--page-side-padding);
  width: min(670px, 100%);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.confirmation__heading {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

.confirmation__warning {
  margin: 0;
  font-size: inherit;
}

.confirmation__text-button--type_confirm {
  color: #ff4d00;
  margin: 40px 0 0 0;
}

.confirmation__text-button--type_cancel {
  margin: 24px 0 0 0;
}
