.confirmation__heading {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
}

.confirmation__warning {
  margin: 0;
  font-size: 16px;
  opacity: 0.8;
}

.confirmation__text-button--type_confirm {
  color: #ff4d00;
  margin: 40px 0 0 0;
}

.confirmation__text-button--type_cancel {
  margin: 24px 0 0 0;
}
