.main__parag {
  font-weight: 700;
  font-size: 20px;
  margin: 40px 0 0 0;
}

.main__list {
  padding: 0;
  margin: 34px 0 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  gap: min(calc(13px + 0.533vw), 20px); /* ~15px at 375 ~20px at 1440 */
}

.main__list-item {
  display: flex;
  justify-content: center;
}
