.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px var(--page-side-padding);
  width: min(498px, 100%);
  max-height: 100%;
  background: #ffffff;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

.modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  padding: 4px;
  background: none;
  cursor: pointer;
}

.item__image {
  width: 100%;
  object-fit: contain;
  justify-self: start;
}
.item__info {
  /* align-self: flex-start; */
  width: calc(100% - 32px * 2);
  display: grid;
  grid-template-areas: "title delete" "detail .";
  flex-direction: column;
  row-gap: 12px;
  margin: 20px 32px 32px 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.item__detail {
  grid-area: detail;
  margin: 0;
}

.item__title {
  grid-area: title;
  margin: 0;
}

.item__delete-button {
  display: none;
  grid-area: delete;
  justify-self: flex-end;
  width: max-content;
  color: #ff4d00;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.item__delete-button--visible {
  display: block;
}

.item__delete-button:hover {
  text-decoration: underline;
}
