.item {
  width: 100%;
}

.item__image {
  width: 100%;
  object-fit: contain;
  justify-self: start;
}
.item__info {
  width: calc(100% - 32px * 2);
  display: grid;
  grid-template-areas: "title delete" "detail .";
  flex-direction: column;
  row-gap: 12px;
  margin: 20px 32px 32px 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.item__detail {
  grid-area: detail;
  margin: 0;
}

.item__title {
  grid-area: title;
  margin: 0;
}

.item__delete-button {
  display: none;
  grid-area: delete;
  justify-self: flex-end;
  width: max-content;
  color: #ff4d00;
}

.item__delete-button--visible {
  display: block;
}

.item__delete-button:hover {
  text-decoration: underline;
}
