@import-normalize;

:root {
  --page-side-padding: calc(10px + 1.5625vw);
}

body {
  height: 100%;
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  background: #f3f3f3;
}

#root {
  height: 100%;
}
