.weather-card {
  margin-top: 28px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #00a3ff;
  border-radius: 12px;
}

.weather-card__temp {
  margin-left: 16px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
